<header class="header">
    <div class="header_container flex">
        <a href="#" class="logo">
            <img src="../../assets/logo.svg" alt="Logo">
        </a>
        {% include "../_components/_nav.twig" %}
        {% include "../_components/_burger.twig" %}
        <button class="btn btn--outline">sign in</button>
        <button class="btn btn--primary">sign up</button>
    </div>
</header>