<button class="burger nav_trigger" type="button">
    <div class="burger_container">
        <div class="burger_slice"></div>
        <div class="burger_slice"></div>
        <div class="burger_slice"></div>
    </div>
</button>