.search {
    z-index: 2;
    position: relative;
    bottom: -6.8rem;
    width: 100%;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    background: $white;
    box-shadow: 0 0.6rem 0.6rem 0 rgba($black, 0.05);

    .search_container {
        padding: 2.4rem 2.4rem 4rem;
        position: relative;
        flex-direction: column;
        row-gap: 1.6rem;
    }

    .search_pagination {
        $height: 6rem;

        position: absolute;
        top: -#{$height};
        left: 0;
        display: flex;
        width: 100%;
        height: $height;
    }

    .search_page {
        cursor: pointer;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
            margin-right: 0.8rem;
        }

        &--1 {
            border-top-left-radius: $radius;
            color: $primary;
            background: $white;

            .icon_house {
                &:before {
                    background: url("../../../assets/icons/icon_house.svg")
                        no-repeat;
                    background-size: cover;
                }
            }
        }

        &--2 {
            border-top-right-radius: $radius;
            background: $grey;

            .icon_apartment {
                &:before {
                    background: url("../../../assets/icons/icon_apartment.svg")
                        no-repeat;
                    background-size: cover;
                }
            }
        }
    }

    .btn {
        margin-top: 2.4rem;
    }
}

// ---------- Responsive ----------
// > 720px
@include largeTablet {
    .search {
        .btn {
            margin-inline: auto;
            width: auto;
        }
    }
}

// > 960px
@include smallDesktop {
    .search {
        position: absolute;
        bottom: -7rem;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 4.8rem);
        border-top-right-radius: $radius;

        .search_container {
            padding: 2.4rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            column-gap: 2.4rem;
        }

        .search_page {
            padding: 0 3.2rem;
            width: auto;
        }

        .btn {
            margin-inline: 1.6rem;
            margin-top: 0;
        }
    }
}

// > 1280px
@include largeDesktop {
    .search {
        width: calc(100% + 2.4rem);
    }
}
